 <!-- Gambiarra pra ativar menu mobile -->
 <div class="activate-menu-mobile" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    <img src="/images/menu-icon80x80.png" alt="">
    <h1>Dashboard</h1>
</div>
<!-- gambiarra acaba aqui -->


<div class="normal-menu">
    <div class="d-flex align-items-center flex-grow-1">
        <img src="/images/menu-icon80x80.png" alt="">
        <h1>Dashboard</h1>
    </div>

    <div class="user dropdown mx-2">
        <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="user-picture img-fluid" src="https://image.shutterstock.com/image-illustration/room-two-isometric-walls-designed-600w-1933787411.jpg" alt="">
            <img class="arrow" src="/images/arrow80x80.png" alt="">
        </div>


        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
            <li><a class="dropdown-item" href="#">Configs</a></li>
        </ul>

    </div>

</div>