<nav class="menu pt-3">
    <h2>EnglishBoard</h2>
    <ul>
        <li id="dashboard-list-item">
            <a href="/">
                <img class="image-list" src="/images/dashboard80x80.png" alt="">
                <span>Dashboard</span>
            </a>
        </li>
        <li id="words-list-item">
            <a href="/words/add-new-words">
                <img class="image-list" src="/images/words80x80.png" alt="">
                <span>Add new words</span>
            </a>
        </li>
        <li id="hours-list-item">
            <a href="/hours/add-new-hours">
                <img class="image-list" src="/images/clock80x80.png" alt="">
                <span>Add new hour register</span>
            </a>
        </li>
        <li id="wordList-list-item">
            <a href="/words/words-list">
                <img class="image-list" src="/images/words-list80x80.png" alt="">
                <span>See words list</span>
            </a>
        </li>
        <li id="hoursList-list-item">
            <a href="/hours/hours-register">
                <img class="image-list" src="/images/calendar80x80.png" alt="">
                <span>See hours register</span>
            </a>
        </li>
    </ul>
</nav>


<nav class="menu-mobile pt-1 offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h2>EnglishBoard</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li id="dashboard-list-item">
                <a href="/">
                    <img class="image-list" src="/images/dashboard80x80.png" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li id="words-list-item">
                <a href="/words/add-new-words">
                    <img class="image-list" src="/images/words80x80.png" alt="">
                    <span>Add new words</span>
                </a>
            </li>
            <li id="hours-list-item">
                <a href="/hours/add-new-hours">
                    <img class="image-list" src="/images/clock80x80.png" alt="">
                    <span>Add new hour register</span>
                </a>
            </li>
            <li id="wordList-list-item">
                <a href="/words/words-list">
                    <img class="image-list" src="/images/words-list80x80.png" alt="">
                    <span>See words list</span>
                </a>
            </li>
            <li id="hoursList-list-item">
                <a href="/hours/hours-register">
                    <img class="image-list" src="/images/calendar80x80.png" alt="">
                    <span>See hours register</span>
                </a>
            </li>
        </ul>






        <div class="fixed-bottom user user-mobile dropdown mx-2">
            <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="user-picture img-fluid" src="<%= userInfo.profilePicture.url === undefined ? 'https://images8.alphacoders.com/109/1098031.png' : userInfo.profilePicture.url %> " alt="">
                <img class="arrow" src="/images/arrow80x80.png" alt="">
            </div>


            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/edit-profile">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>

        </div>



    </div>



</nav>