<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/mainPage.css">
    <title>English Board</title>
</head>
<body>
    <main>
        <div class="row align-items-center">
            <div class="col col-sm-4 img-col">
                <img src="/images/undraw_spreadsheet_re_cn18.svg" alt="">
            </div>

            <div class="col info">
                <h1>Welcome do English Board</h1>
                <p>This application was created to help users keep track of their learning on English. Here you can register how many and which words, adverbs, verbs, adjective and phrasal verbs you've studied. You can also register the time spent listening to the language along with the day regarding that amount of hours.</p>
        
                <div class="button-group">
                    <a href="/register" class="register">Register</a>
                    <a href="/login" class="login">Log in</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="fixed-bottom">Copyright &#169; <a href="https://github.com/devEdu-web">Eduardo Oliveira</a></footer>
</body>
</html>