* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #1E1E2E;
    color: white;

}

main {
    padding: 2rem;
    width: 100vw;
    /* background-color: red; */
}



.profile-container {
    padding: 8px;
}

img {
    /* width: 10vw; */
    width: 150px;
    border-radius: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

input {
    width: 80%;
    margin-bottom: 12px;
}

input[type="submit"], input[type='file'] {
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"] {
    /* border: none; */
    border: 1px solid rgba(255, 255, 255, 0.561);
    padding: 3px;
    outline: none;
    background-color: #1E1E2E;
    color: white;
}

input[type="submit"] {
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: #D90368;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width: 450px) {
    main {
        padding: 20px;
    }

    img {
        width: 20vw;
    }

    .profile-col {
        margin-bottom: 2rem;

    }

    .col-settings {
        /* background-color: red; */

    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;    
    }

    .button-group {
        width: 100%; 
        flex-direction: column;
        align-items: flex-start;
        /* align-items: center; */
        /* justify-content: center; */
        /* background-color: yellow; */
    }

    .input-button {
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    input[type='submit'] {
        margin-top: 16px;
        width: 50%;
    }

}