* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #1E1E2E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 80vh;
    min-width: 40vw;
    border: 1px solid rgba(255, 255, 255, 0.747);
    /* background-color: red; */
}

.user-picture {
    width: 140px; 
    height: 140px; 
    background-color: gray;
}

.userName-span {
    font-size: 1.8rem;
}

.userEmail-span {
    font-size: 1rem;
}

input[type="text"], input[type="password"] {
    color: white;
    background-color: #1E1E2E;
    outline: none;
    padding: 5px;
    /* border: none; */
    border: 1px solid rgba(255, 255, 255, 0.671);
}

input[type='submit'] {
    background-color: #D90368;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 5px 15px;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {

    .userName-span {
        font-size: 1.3rem;
    }

    label {
        font-size: 0.8rem;
    }

    .input-div {
        margin-top: 1rem;
    }

    .user-picture {
        width: 120px;
        height: 120px;
        background-color: grey;
    }

}