* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #1E1E2E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90vh;
    padding: 2rem;
    width: 50vw;
    border-radius: 20px;
    background-color: #27293D;
}

.edit-mode{
    opacity: 50%;
}

.profile-container {
    padding: 8px;
}

img {
    /* width: 10vw; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.settings-row{
    width: 100%;
}

.settings-container{
    /* background-color: red; */
    width: 100%;
}

.userInfo-container {
    margin-bottom: 15px;
}

button {
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 3px 10px;
    font-weight: bold;
    background-color: #D90368;
    color: white;
}


.form-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.edit-container{
    padding: 10px;
    display: none;
    width: 30vw;
    height: 45vh;
    /* background-color: red; */
    background-color: rgb(26, 23, 23);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



@media screen and (max-width: 450px) {
    main {
        padding: 20px;
    }

    img {
        width: 20vw;
    }

    .profile-col {
        margin-bottom: 2rem;

    }

    .col-settings {
        /* background-color: red; */

    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;    
    }

    .button-group {
        width: 100%; 
        flex-direction: column;
        align-items: flex-start;
        /* align-items: center; */
        /* justify-content: center; */
        /* background-color: yellow; */
    }

    .input-button {
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    input[type='submit'] {
        margin-top: 16px;
        width: 50%;
    }

}