.progress-bar {
    color: black;
}

#nouns-bar {
    background-color: var(--nouns-color);
}

#adverbs-bar {
    background-color: var(--adverbs-color);
}

#verbs-bar {
    background-color: var(--verbs-color);
}

#adjvectives-bar {
    background-color: var(--adjectives-color);
}

#phrasal-verbs-bar {
    background-color: var(--phrasal-verbs-color);
}

#year-bar {
    background-color: var(--nouns-color);
}

#hours-bar {
    background-color: var(--adjectives-color);
}