:root {
    --background-color: #1E1E2E;
    --nouns-color: #F75C03;
    --verbs-color: #E71D36;
    --adverbs-color: #1EFC1E;
    --adjectives-color: #347FC4;
    --phrasal-verbs-color: #F7E733;
    --emphasis-pink: #D90368;  
    --cards-background: #27293D;     
}

body {
    background-color: var(--background-color);
    color: white;
}

main {
    max-height: 80vh;
}

.emphasis {
    color: var(--emphasis-pink);
}

.page-content {
    width: calc(100% - 20vw);
}

.col {
    background-color: var(--cards-background);
    border-radius: 10px;
    padding: 10px 32px;
    margin: 32px;
    min-height: 30vh;
}

.row {
    margin: 0;
}





input[type='text'], input[type='number'] {
    width: 80%;
    background-color: var(--cards-background);
    color: white;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.746);
}

button {
    background-color: var(--emphasis-pink);
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: bolder;
    padding: 5px 25px;
}


@media screen and (max-width: 1050px) {
    .menu {
        width: 30vw;
    }
}

@media screen and (max-width: 775px){

    .menu {
        width: 34vw;
        display: none;
    }

    .normal-menu {
        display: none;
    }

    .activate-menu-mobile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .menu-mobile {
        display: flex;
    }

    .user {
        display: none;
    }

    .user-picture {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }

    .user-mobile {
        display: flex;
        margin: 16px;
    }

    .page-content {
        width: 100%;
    }

    .row {
        gap: 10px;
    }

}


@media screen and (max-width: 450px) {
    .image-list{
        width: 30px;
    }

}

@media screen and (max-width: 390px) {
    .menu-mobile {
        width: 70vw;
        font-size: 0.7rem;
    }

    input[type="text"] {
        width: 95%;
        font-size: 0.8rem;
    }

}